.tasks {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.task__title {
  cursor: pointer;
}

.task__title--active {
  text-decoration: line-through;
}

.task__title--important {
  font-weight: 700;
}
